ag_nrt.channels.memory-channel.type=memory
ag_nrt.channels.kfk-memory-channel.type=memory

#Kafka Source
ag_nrt.sources.kfk-source.type=org.apache.flume.source.kafka.KafkaSource
ag_nrt.sources.kfk-source.zookeeperConnect=localhost:2181
ag_nrt.sources.kfk-source.topic=firstTopic
ag_nrt.sources.kfk-source.batchSize=5
ag_nrt.sources.kfk-source.batchDurationMillis=200
ag_nrt.sources.kfk-source.channels=memory-channel kfk-memory-channel
ag_nrt.sources.kfk-source.interceptors=myStatic 
ag_nrt.sources.kfk-source.interceptors.myStatic.type=static
ag_nrt.sources.kfk-source.interceptors.myStatic.preserveExisting=false
ag_nrt.sources.kfk-source.interceptors.myStatic.key=topic
ag_nrt.sources.kfk-source.interceptors.myStatic.value=FlumeTopic

#Spark Sink
ag_nrt.sinks.spark.type = org.apache.spark.streaming.flume.sink.SparkSink
ag_nrt.sinks.spark.hostname = localhost
ag_nrt.sinks.spark.port = 7777
ag_nrt.sinks.spark.channel = memory-channel

ag_nrt.sources = kfk-source
ag_nrt.sinks = spark kfk-sink
ag_nrt.channels = memory-channel kfk-memory-channel

#Kafka Sink
ag_nrt.sinks.kfk-sink.type = org.apache.flume.sink.kafka.KafkaSink
ag_nrt.sinks.kfk-sink.topic=FlumeTopic
ag_nrt.sinks.kfk-sink.channel = kfk-memory-channel
ag_nrt.sinks.kfk-sink.brokerList = localhost:9092
ag_nrt.sinks.kfk-sink.batchSize=5
